@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* Base / Background */
  --color-base-100: #ffffff;
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);

  /* Typography Colors */
  --color-base-content: #1b1b1b; /* main text */
  --color-neutral-content: #737373; /* secondary text */

  /* Primary */
  --color-primary: #00adef;
  --color-primary-content: #ffffff;

  /* Secondary */
  --color-secondary: #b0a99e;
  --color-secondary-content: #ffffff;

  /* Accent */
  --color-accent: #ec6d51;
  --color-accent-content: #ffffff;

  /* Neutral */
  --color-neutral: #1b1b1b;
  --color-neutral-content: #ffffff;

  /* Status Colors */
  --color-info: #417fb3;
  --color-info-content: #ffffff;

  --color-success: #4caf50;
  --color-success-content: #ffffff;

  --color-warning: #ff9800;
  --color-warning-content: #1b1b1b;

  --color-error: #f44336;
  --color-error-content: #ffffff;

  /* Border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Border size */
  --border: 1px;

  /* Effects */
  --depth: 1;
  --noise: 0;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gradient-bg {
  background-image: linear-gradient(90deg, #00adef 0%, #b0a99e 60%);
  color: white;
}
.gradient-text-color {
  background: linear-gradient(90deg, #00adef 0%, #b0a99e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
